# CMake build
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/compile_commands.json
/*.cmake
/*.vcxproj*
/*.sln

# Executables and binaries
*.exe
*.out
*.app

# Logs and misc
*.log

# OS-specific
.DS_Store
Thumbs.db

# Backup files
*~
